#  Python Classes and Objects

In [3]:
class myobject:
    x=5
    y=x+7
    print(y)

12

In [1]:
class myobject:
    x=5
    y=89
    z=x+y
    
object1=myobject()
print(object1.z)

94

In [ ]:
class collge:
    k=8


myclg=collge()
print(myclg.k)

In [ ]:
class myobject:
    x=5
    y=90
    z=89
    output1=(x+y+z)
p1=myobject()
print(p1.output1)

In [5]:
def add(a,b):
    return a+b

def sub(a,b):
    return a+b
k=add(5,7)
k1=sub(7,4)
print(k)
print(k1)

12
11

In [6]:
class myobject:
    def add(self):
        a=4
        b=5
        return a+b
    def sub(self):
        a=90
        b=5
        print(a-b)

cal=myobject()
k=cal.add()
print(k)
# cal.sub()

9

In [7]:
class myobject:
    def add(self):
        a=4
        b=5
        return a+b
    def sub(self):
        a=90
        b=5
        print(a-b)

class myobject1:
    def add(self):
        a=8
        b=90
        c=a+b
        print(a+b)
    def sub(self):
        a=78
        b=512
        print(a-b)


        
add1=myobject1()
k=add1.add()
k



# k1=add1.sub()

98

In [ ]:
# input1=int(input("enter the number 1"))
# input2=int(input("enter the number 2"))
# a=input1
# b=input2
# c=8
def add(a,b):

    num1=a
    num2=b
    print(a+c)
# def sub():
#     print(a-b)
add(5,8)
sub()

In [ ]:
class myobject:
    def add(self):
        a=4
        b=5
        return (a+b)



add1=myobject()
k=add1.add()
print(k)

# __init__() function

In [ ]:

class myobject():
    def __init__(self,a,b,c):
        self.num1=a
        self.num2=b
        self.num3=c

    def add(self):
        print(self.num1+self.num2)

    def sub(self):
        print(self.num3-self.num2)
        
    # def name1(self):
    #     print(self.name1)
    # def age1(self):
    #     print(self.age1)
    # def detail(self):
    #     print(self.name1,self.age1)
num1=int(input("enter the number"))   
num2=int(input("enter the number"))   
num3=int(input("enter the number"))   

clg=myobject(num1,num2,num3)
clg.add()
clg.sub

# clg.name1()
# clg.age1()
# clg.detail()()

In [55]:
class calcu():
    def __init__(self,a,b,c):
        self.num1=a
        self.num2=b
        self.num3=c
    def add(self):
        print(self.num1+self.num2)


object=calcu(67,90,89)
object.add()
# print(object.add())

157

In [29]:
a=7
b=8


def add1():
    return(a+b)


def sub():
    print(a-b)

k=add1()
print(k)

15

In [60]:
class math1:
    def __init__(self,a,b,c,d):
        self.num1=a
        self.num2=b
        self.num3=c
        self.num4=d

    def add(self):
        return(self.num1+self.num2)

object=math1(2,3,4,5)
object.add()
print(k)



object1=math1(6,78,489,5)
object1.add()
print(k1)

i am raja89
84

# __str__() function

In [52]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def name1(self):
    return (f"{self.name}{self.age}")

p1 = Person("John", 36)
a=name1(p1)
print(a)

NameError: name 'name1' is not defined

In [50]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def __str__(self):
    print (f"{self.name}{self.age}")

p1 = Person("John", 36)
k=p1.str()
print(k)

AttributeError: 'Person' object has no attribute 'str'

In [23]:
class Person:
  def __init__(self, name, age,dept):
    self.name = name
    self.age = age
    self.dept = dept


  def __str__(self):
    return f"{self.name}({self.age})({self.dept})"

p1 = Person("John", 36,"dept")
print(p1)
# print(str(p1))

John(36)(dept)
John(36)(dept)

In [22]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def __str__(self):
        return f"Person(name={self.name}, age={self.age})"

# Creating an object
p = Person("Alice", 30)

# Using print or str()
print(p)  # Output: Person(name=Alice, age=30)
print(str(p))  # Output: Person(name=Alice, age=30)

Person(name=Alice, age=30)
Person(name=Alice, age=30)

In [44]:
class Person:
  def __init__(myobject, name, age):
    myobject.name = name
    myobject.age = age

  def myfunc(abc):
    return("Hello my name is " + abc.name + str(abc.age))

p1 = Person("John", 36)
k=p1.myfunc()
print(k)

Hello my name is John36

In [48]:
class object:
    def __init__(self,a,b):
        self.name=a
        self.age=b
    def details(self):
        return (f"i am {self.name}{self.age}")

det=object("raja",89)
k=det.details()
print(k)

i am raja89

In [61]:
class object1:
    def __init__(self,a,b):
        self.name=a
        self.age=b
    def __str__(self):
        return (f"i am {self.name}")

det1=object1("raja",89)
print(det1)

i am raja

In [33]:
class college:
    def __init__(self,a):
        self.k=a
    def add(self):
        print(a)

c1=college("abc")
c1.add()

7

--- ATM Menu ---
1. Check Balance
2. Deposit Money
3. Withdraw Money
4. Exit

Choose an option:  1

Your current balance is ₹5000

--- ATM Menu ---
1. Check Balance
2. Deposit Money
3. Withdraw Money
4. Exit

Choose an option:  2
Enter amount to deposit: ₹ 500

₹500.0 deposited successfully

--- ATM Menu ---
1. Check Balance
2. Deposit Money
3. Withdraw Money
4. Exit

Choose an option:  3
Enter amount to withdraw: ₹ 15

₹15.0 withdrawn successfully

--- ATM Menu ---
1. Check Balance
2. Deposit Money
3. Withdraw Money
4. Exit

Choose an option:  1

Your current balance is ₹5485.0

--- ATM Menu ---
1. Check Balance
2. Deposit Money
3. Withdraw Money
4. Exit

Choose an option:  3
Enter amount to withdraw: ₹ 6000

Insufficient balance

--- ATM Menu ---
1. Check Balance
2. Deposit Money
3. Withdraw Money
4. Exit

Choose an option:  4

Thank you for using our ATM!