# Set
# Sets are used to store multiple items in a single variable.

# Set is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Tuple, and Dictionary, all with different qualities and usage.

# A set is a collection which is unordered, unchangeable*, and unindexed(Duplicates not allowed).

# Note: Set items are unchangeable, but you can remove items and add new items.

In [1]:
k={1,1,1,2,2,1,1}
k

{1, 2}

In [3]:
k={"vasanth","raja","raja","vasanth"}
print(k)

{'raja', 'vasanth'}

In [4]:
myset = {"apple",89,"banana", "cherry", False, True, 1,0,5,9,90,8,90}
myset

{5, 8, 89, 9, 90, False, True, 'apple', 'banana', 'cherry'}

In [5]:
myset = {"apple",89,"banana", "cherry", False, True, 1,0,5,9,90,8,90}
print(len(myset))

10

In [6]:
mylist=[1,2,2,2,3,454]
myset=set(mylist)
myset

{1, 2, 3, 454}

In [9]:
mylist=(11,1,11,22,22,33,66,33,6)
k=set(mylist)
print(k)

{1, 66, 33, 6, 11, 22}

In [10]:
myset = {"apple", "banana", "cherry"}

for x in myset:
  print(x)

banana
apple
cherry

In [12]:
k={1,5,6,8,9}
for j in k:
    print(j)

1
5
6
8
9

# Add in set

In [13]:
myset = {"apple", "banana", "cherry"}

myset.add("hi")

print(myset)

{'banana', 'hi', 'apple', 'cherry'}

In [19]:
num={789,456,123}
num.add("hi")
print(num)

{456, 123, 'hi', 789}

In [20]:
myset = {"apple", "banana", "cherry"}
myset1 = {"pineapple", "mango", "papaya"}

myset.update(myset1)

print(myset)

{'papaya', 'pineapple', 'banana', 'mango', 'apple', 'cherry'}

In [21]:
k={1,2,3,5,8}
l={7,8,95,2}
k.update(l)
print(k)

{1, 2, 3, 5, 7, 8, 95}

# Remove

In [22]:
myset = {"apple", "banana", "cherry"}

myset.remove("banana")

print(myset)

{'apple', 'cherry'}

In [23]:
num={789,456,123852}
num.remove(456)
print(num)

{123852, 789}

In [24]:
myset = {"apple", "banana", "cherry"}

myset.discard("banana")

print(myset)

{'apple', 'cherry'}

In [25]:
num={789,456,123852}
num.discard(456)
print(num)

{123852, 789}

In [26]:
myset = { "banana","apple","hji",8.0,9,78,89}
print(myset)
x = myset.pop()

print(x)

print(myset)

{89, 'apple', 'hji', 8.0, 9, 'banana', 78}
89
{'apple', 'hji', 8.0, 9, 'banana', 78}

In [27]:
num={789,456,123852}
print(num)
x=num.pop()
print(x)
print(num)

{456, 123852, 789}
456
{123852, 789}

In [28]:
myset = {"apple", "banana", "cherry"}

del myset

print(myset)

NameError: name 'myset' is not defined

In [29]:
num={789,456,123852}
del num
print(num)

NameError: name 'num' is not defined

# joins set

# Union
# Combine all items both sets,excluding dupilicates
# Using symbol " | "

In [2]:
set1 = {"apple", "banana", "orange",1}
set2 = {1, 2, 3,"apple",6,8,"banana"}

set3 = set1.union(set2)
print(set3)

{1, 2, 3, 'apple', 6, 8, 'banana', 'orange'}

In [3]:
k={1,2,3,4,5,5,4,2}
l={9,8,5,6,2,4,3,5}
m=k.union(l)
print(m)

{1, 2, 3, 4, 5, 6, 8, 9}

In [4]:
set1 = {"apple", "banana", "orange"}
set2 = {1, 2, 3}

set3=set1|set2

set3

{1, 2, 3, 'apple', 'banana', 'orange'}

In [5]:
k={1,2,3,4,5,5,4,2}
l={9,8,5,6,2,4,3,5}
m=k|l
print(m)

{1, 2, 3, 4, 5, 6, 8, 9}

In [6]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena",3}
set4 = {"apple", "bananas", "cherry"}

myset = set1.union(set2, set3, set4)
print(myset)

{1, 2, 3, 'apple', 'b', 'John', 'a', 'c', 'Elena', 'cherry', 'bananas'}

In [8]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena",3}
set4 = {"apple", "bananas", "cherry"}

myset = set1|set2|set3|set4
print(myset)

{1, 2, 3, 'apple', 'b', 'John', 'a', 'c', 'Elena', 'cherry', 'bananas'}

In [10]:
k={1,2,3,4,5,5,4,2}
l={9,8,5,6,2,4,3,5}
n={5,6,2,3,8,9,6}
o={9,5,2,1,6,6}
m=k|l|o|n
print(m)

{1, 2, 3, 4, 5, 6, 8, 9}

In [11]:
x = {"a", "b", "c"}
y = (1, 2, 3)

z = x.union(y)
print(z)

{1, 2, 3, 'b', 'a', 'c'}

# tuple,set merge one set

In [14]:
k={1,2,5,8,9}
l=("hi","vasanth")
m=k.union(l)
print(m)

{1, 2, 5, 'hi', 'vasanth', 8, 9}

# list,tuple,set merge in one set

In [16]:
k={1,2,5,8,9}
l=("hi","vasanth")
n=[456,789,123,"ajith"]
m=k.union(l,n)
print(m)

{1, 2, 5, 456, 8, 9, 'ajith', 789, 'hi', 'vasanth', 123}

# update in union -----  modifying the originalset but same as union---

In [21]:
k={1,2,5,8,9}
l=("hi","vasanth")
k.update(l)
print(k)

{1, 2, 5, 'hi', 'vasanth', 8, 9}

In [22]:
k={1,2,3,4,5,5,4,2}
l={9,8,5,6,2,4,3,5}
k.update(l)
print(k)

{1, 2, 3, 4, 5, 6, 8, 9}

In [33]:
k={1,2,3,4,5,5,4,2}
l={9,8,5,6,2,4,3,5}
n={5,6,2,3,8,9,6}
o={9,5,2,1,6,6}
k.update(l,o,n)
print(k)

{1, 2, 3, 4, 5, 6, 8, 9}

# Intersection
# keep only the common items found in both sets
# Using symbol " & "

In [11]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}


set3=set1.intersection(set2)
set3

{'apple'}

In [24]:
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}
result = set1.intersection(set2)
print(result)  # Output: {3, 4}
print(set1)    # Output: {1, 2, 3, 4} (unchanged)

{3, 4}
{1, 2, 3, 4}

In [25]:
k={1,2,3,4,5,5,4,2}
l={9,8,5,6,2,4,3,5}
m=k.intersection(l)
print(m)

{2, 3, 4, 5}

In [27]:
k={1,2,3,4,5,5,4,2}
l={9,8,5,6,2,4,3,5}
n={5,6,2,3,8,9,6}
o={9,5,2,1,6,6}
m=k&l&n&o
print(m)

{2, 5}

In [28]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}


set3=set1&set2
set3

{'apple'}

# Intersection_update
# modifys sets to keep only common values

In [34]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}


set1.intersection_update(set2)
set1

{'apple'}

In [35]:
k={1,2,3,4,5,5,4,2}
l={9,8,5,6,2,4,3,5}
k.intersection_update(l)
print(k)

{2, 3, 4, 5}

In [31]:
k={1,2,3,4,5,5,4,2}
l={9,8,5,6,2,4,3,5}
n={5,6,2,3,8,9,6}
o={9,5,2,1,6,6}
k.intersection_update(l,n,o)
print(k)

{2, 5}

# Difference
# keeps items from first set(set1) that are not in second set(set2)
# Using Symbol " - "

In [44]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.difference(set2)

print(set3)

{'banana', 'cherry'}

In [45]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1-set2

print(set3)

{'banana', 'cherry'}

In [37]:
k={1,2,3,4,5,5,4,2}
l={9,8,5,6,2,4,3,5}
m=k.difference(l)
print(m)

{1}

In [46]:
k={1,2,3,4,5,5,4,2}
l={9,8,5,6,2,4,3,5}
m=k-l
print(m)

{1}

In [60]:
n={5,6,2,3,8,9,6}
o={9,5,2,1,6,6}
p=o.difference(n)
print(p)

{1}

In [55]:
k={1,2,3,4,5,5,4,2}
l={9,8,5,6,2,4,3,5}
n={5,6,2,3,8,9,6}
o={9,5,2,1,6,6}
m=k-l-n-o
print(m)

set()

In [48]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set2 - set1
print(set3)

{'google', 'microsoft'}

In [53]:
k={1,2,3,8,5,6}
l={9,8,5,6,2,4,3,5}
m=l-k
print(m)

{9, 4}

# Difference_update
# modifies set1 remove items found in set2

In [61]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.difference_update(set2)

print(set1)

{'banana', 'cherry'}

In [62]:
k={1,2,3,4,5,5,4,2}
l={9,8,5,6,2,4,3,5}
k.difference_update(l)
print(k)

{1}

In [1]:
n={5,6,2,3,8,9,6}
o={9,5,2,1,6,6}
o.difference_update(n)
print(o)

{1}

In [2]:
k={1,2,3,8,5,6}
l={9,8,5,6,2,4,3,5}
l.difference_update(k)
print(l)

{4, 9}

# Symmetric difference
# Keep All items Exclude Dupilicates
# Using Symbol " ^ "

In [12]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.symmetric_difference(set2)

print(set3)

{'microsoft', 'cherry', 'banana', 'google'}

In [4]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 ^ set2
print(set3)

{'microsoft', 'cherry', 'banana', 'google'}

In [5]:
k={1,2,3,4,5,5,4,2}
l={9,8,5,6,2,4,3,5}
m=k.symmetric_difference(l)
print(m)

{1, 6, 8, 9}

In [6]:
k={1,2,3,4,5,5,4,2}
l={9,8,5,6,2,4,3,5}
m=k^l
print(m)

{1, 6, 8, 9}

In [10]:
n={5,6,2,3,8,9,6}
o={9,5,2,1,6,6}
m=o.symmetric_difference(n)
print(m)

{1, 3, 8}

In [9]:
n={5,6,2,3,8,9,6}
o={9,5,2,1,6,6}
m=n^o
print(m)

{1, 3, 8}

# Symmetric_difference_update
# Modifies set 1 except dupilicates

In [19]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.symmetric_difference_update(set2)

print(set1)

{'microsoft', 'cherry', 'banana', 'google'}

In [20]:
k={1,2,3,4,5,5,4,2}
l={9,8,5,6,2,4,3,5}
k.symmetric_difference_update(l)
print(k)

{1, 6, 8, 9}

In [21]:
n={5,6,2,3,8,9,6}
o={9,5,2,1,6,6}
o.symmetric_difference_update(n)
print(o)

{1, 3, 8}