# Tuple
# Tuples are used to store multiple items in a single variable.

# Tuple is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Set, and Dictionary, all with different qualities and usage.

# A tuple is a collection which is ordered and unchangeable.

# Tuples are written with round brackets.

# Allow dupilcates

In [1]:
mytuple = ("apple", "banana", "cherry")
print(mytuple)
print(type(mytuple))

('apple', 'banana', 'cherry')
<class 'tuple'>

In [2]:
mylist1 = ["apple", "banana", "cherry"]
print(type(mylist1))

<class 'list'>

# insert values

In [3]:
t=(1,2,3,4,6)
l=list(t)

l.append(88)
print(l)
t=tuple(l)
t

[1, 2, 3, 4, 6, 88]

(1, 2, 3, 4, 6, 88)

In [5]:
k=(5,7,8,9,5,6)
l=list(k)
l.append(88)
print(l)
k=tuple(l)
print(k)

[5, 7, 8, 9, 5, 6, 88]
(5, 7, 8, 9, 5, 6, 88)

In [6]:
mytuple = ("apple", "banana", "cherry","hello")
print(mytuple[1:])

('banana', 'cherry', 'hello')

In [7]:
mytuple = ("apple", "banana", "cherry","hello")
print(mytuple[1:5])

('banana', 'cherry', 'hello')

In [8]:
mytuple = ("apple", "banana", "cherry","hello")
print(mytuple[0:])

('apple', 'banana', 'cherry', 'hello')

In [10]:
mylist = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(mylist[:6])

('apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon')

# Changed value based on index

In [11]:
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

In [13]:
x = ("apple", "banana", "cherry")
y=list(x)
y[2]="orange"
x=tuple(y)
print(x)

('apple', 'banana', 'orange')

In [14]:
veg = ("apple", "banana", "cherry")

(green, yellow, red) = veg

print(green)
print(yellow)
print(red)

apple
banana
cherry

In [24]:
num=(99,88,77,66,22,33)
(9,8,7,6,2,3) = num

print(9)
print(8)
print(7)
print(2)
print(3)

SyntaxError: cannot assign to literal (2780239553.py, line 2)

In [26]:
name=("Vasanth","Mohan")
(name,Friend) = name
print(name)
print(Friend)

Vasanth
Mohan

In [27]:
veg = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow,red) = veg

print(green)
print(yellow)
print(red)

ValueError: too many values to unpack (expected 3)

In [28]:
veg = ("apple", "mango", "papaya", "pineapple", "cherry",9,0,0,78,778)

(green, *tropic,yellow,red) = veg

print(green)
print(tropic)
print(yellow)
print(red)

apple
['mango', 'papaya', 'pineapple', 'cherry', 9, 0, 0]
78
778

In [29]:
mytuple = ("apple", "banana", "cherry")
for i in mytuple:
  print(i)

apple
banana
cherry

In [30]:
k=(7,8,9,10,11,22,33)
for i in k:
    print(i)

7
8
9
10
11
22
33

In [31]:
mylist = ("apple", "banana", "cherry")
for i in range(len(mylist)):
  print(mylist[i])

apple
banana
cherry

In [32]:
mytuple1 = ("a", "b" , "c")
mytuple2 = (1, 2, 3)

mytuple3 = mytuple1 + mytuple2
print(mytuple3)

('a', 'b', 'c', 1, 2, 3)

In [36]:
a=(456,789,123)
b=(741,852,963)
c=a+b
print(c)
for j in c:
    print(j)

(456, 789, 123, 741, 852, 963)
456
789
123
741
852
963

In [37]:
mylist = (1, 3,8, 7, 5, 4, 6, 8, 5)

x = mylist.index(5)

print(x)

4

In [38]:
mynum=(4,5,6,7,8,9,10)
y=mynum.index(6)
print(y)

2

In [39]:
mytuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)

x = mytuple.count(7)

print(x)

2

In [42]:
mynum=(8,5,9,8,6,3)
y=mynum.count(8)
k=mynum.count(9)
print(y)
print(k)

2
1

In [43]:
mytuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)
list1=list(mytuple)
list1.append("hi")
mytuple=tuple(list1)
mytuple

(1, 3, 7, 8, 7, 5, 4, 6, 8, 5, 'hi')

In [46]:
k=(1,2,3,4,56,7,8,9)
k1=list(k)
k1.append("vasanth")
k=tuple(k1)
print(k)

(1, 2, 3, 4, 56, 7, 8, 9, 'vasanth')

In [47]:
k=(1,32,5,870,90)
k1=(67,349)
k=(list(k)+list(k1))
print(k)

[1, 32, 5, 870, 90, 67, 349]

In [48]:
k=(1,32,5,870,90)
k1=list(k)
k1.remove(870)
k=tuple(k1)
print(k)

(1, 32, 5, 90)